<!-- header start -->

<a href="{{ site.url }}" class="logo-readium"><span class="logo" style="background-image: url({{ site.logo }})" ></span></a>



<div class="left-navbar">
    <h4 class="">CATEGORY</h4>  
   <!--  <hr class="index-headline featured">   -->
    <!-- <ul class="category" style="list-style-type:none" >
    <h4 class="">CATEGORY</h4>
    {% for category in site.categories %}  
    <li class="category_list"><a href="/showCategory.html?categoryName={{ category | first }}" itemprop="url" style=" text-decoration:none">{{ category | first }}</a> ({{ category | last | size }})  
    </li>  
    {% endfor %}  
    </ul> -->

    <a class="tech" data-toggle="collapse" data-target="#classified-0" id="tech" >TECH</a>
        <ul id="classified-0" class="nav" style="list-style-type:none">
          {% if null == site.categories.tech %}
            <li><a id="nothing" data-toggle="popover" data-placement="bottom" title="" data-content="TECH" data-original-title="">There is nothing about tech</a></li>
          {% endif %}
          {% for post in site.categories.tech %}
            <li class="techlist"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>



        <a class="mood" data-toggle="collapse" data-target="#classified-1" id="mood" >MOOD</a>
        <ul id="classified-1" class="nav" style="list-style-type:none">
          {% if null == site.categories.mood %}
            <li><a id="nothing" data-toggle="popover" data-placement="bottom" title="" data-content="TECH" data-original-title="">There is nothing about MOOD</a></li>
          {% endif %}
          {% for post in site.categories.mood %}
            <li class="moodlist"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>


  </div> 

<!-- header end -->
