
.personal-detail {
  max-width: 700px;
  @include center-block();
  li {
    list-style-type: disc;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}
}

.personal-category {
  position: relative;
  margin-top: 1.5em;
}

.personal-category-item {
  // animation: show-border 2s 1 ease-out;
  border-left: 5px solid;
  padding-left: 50px;
  padding-bottom: 0.5em;
  position: relative;
  margin-top: 70px;
}

.personal-category-title {
  animation: show-category-title 0.8s 1 ease-out;
  font-size: 0.9em;
  max-width: 150px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  left: -20px;
  top: 0;
  font-weight: 700;
}

.item-name {
  animation: show-item-name 1s 1 ease-out;
  font-size: 1.5em;
  font-weight: 700;
  position: absolute;
  top: -50px;
}

.item-date {
  animation: show-date 2s 1 ease-out;
  position: absolute;
  right: 750px;
  top: -45px;
  text-align: right;
  min-width: 180px;
  color: $grey8;
  font-size: 1.1em;
}

.target-border {
  position: absolute;
  left: -22px;
  top: -55px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.target-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 10;
  margin: 10px auto;
}

.description {
  // animation: show-item-name 2s 1s 1 ease-out;
}

.overview {
  .personal-category-title {
      background-color: $black;
  }
  .personal-category-item {
    border-color: $black;
  }
  .target-border{
    border: 5px solid $black;
  }
  .target-dot {
    background: $black;
  }
}

.skill {
  .personal-category-title {
    background-color: $blue;
  }
  .personal-category-item {
    border-color: $blue;
  }
  .target-border{
    border: 5px solid $blue;
  }
  .target-dot {
    background: $blue;
  }
}

.experience {
  .personal-category-title {
    background-color: $green;
  }
  .personal-category-item {
    border-color: $green;
  }
  .target-border{
    border: 5px solid $green;
  }
  .target-dot {
    background: $green;
  }
}

.project {
  .personal-category-title {
    background-color: $purple;
  }
  .personal-category-item {
    border-color: $purple;
  }
  .target-border{
    border: 5px solid $purple;
  }
  .target-dot {
    background: $purple;
  }
}

.education {
  .personal-category-title {
    background-color: $grey;
  }
  .personal-category-item {
    border-color: $grey;
  }
  .target-border{
    border: 5px solid $grey;
  }
  .target-dot {
    background: $grey;
  }
}

@keyFrames show-item-name {
  0%,15% {
    opacity: 0;
    transform: translateX(2em);
  }
  85% {
    opacity: 0.8;
    transform: none;
  }
  88%,
  100% {
    opacity: 1;
  }
}

@keyFrames show-category-title {
  0%,15% {
    opacity: 0;
    transform: translateY(-1em);
  }
  85% {
    opacity: 0.8;
    transform: none;
  }
  88%,
  100% {
    opacity: 1;
  }
}

@keyFrames show-date {
  0%,15% {
    opacity: 0;
    transform:rotate(90deg);
  }
  85% {
    opacity: 0.8;
    transform: none;
  }
  88%,
  100% {
    opacity: 1;
  }
}