/* footer */
footer{
  min-height: 50px;
  line-height: 50px;
  margin-top: 80px;
  margin-left: -8px;
  margin-right: -8px;
  background: #3f4850;
  color: #aaa;
  font-size: 14px;
  text-align: center;

  -webkit-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
  -o-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
  a {
    text-decoration: none;
  }
}
footer a:link {color: #aaa}   /* 未访问的链接 */
footer a:visited {color: #888}  /* 已访问的链接 */
footer a:hover {color: #bbb;text-decoration: none;} /* 鼠标移动到链接上 */
footer a:active {color: #bbb} /* 选定的链接 */
footer .point{
  margin: 0 8px;
}

/**
 * Icons
 */
.icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}